.cproject
.project
.settings/
.idea/
nbproject/
*.iml
*.ipr
*.iws
*.cmake
*.xcodeproj/
*.build/
auxdata/
target/
/config/
/jobs/
/data/
/modules/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
LOG.*
Makefile
/nbproject/private/
