.cproject
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
*.cmake
*.xcodeproj/
*.build/
ggluck.swan.ac.uk/
target/
/bin/
/config/
/doc/
/jobs/
/testdata/SY1/S3A_SY_1_SYN________2013621T10920_2013621T101413_2_00293_2_DMS_TD04_0?/
/testdata/SY2/
/testdata/VGP/
/testdata/VGS/
/tmp/??????
CMakeCache.txt
CMakeFiles/
CMakeScripts/
LOG.*
OUT.*
Makefile
Config.h
*.sh
*.nc
install_manifest.txt
