.cproject
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
*.cmake
*.xcodeproj/
*.build/
target/
/bin/
/config/
/files/
/jobs/
/testdata/
/modules/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
LOG.*
Makefile
Config.h
runalltests.sh
install_manifest.txt
