<Config>
    <Aux_Files>
	    <Aux_File_Name id="SYCP">/data/s3-syn/SYN/aux/S3__SY_2_SYCPAX_20101201T000000_20110301T000000_20101207T120000__BC__D_NT_AUX_01.nc</Aux_File_Name>
	    <Aux_File_Name id="SYRT">/data/s3-syn/SYN/aux/S3__SY_2_SYRTAX_20101201T000000_20110301T000000_20101207T120000__BC__D_NT_AUX_01.nc</Aux_File_Name>
	    <Aux_File_Name id="VPRT">/data/s3-syn/SYN/aux/S3__SY_2_VPRTAX_20101201T000000_20110301T000000_20101207T120000__BC__D_NT_AUX_01.nc</Aux_File_Name>
	    <Aux_File_Name id="VPSR">/data/s3-syn/SYN/aux/S3__SY_2_VPSRAX_20101201T000000_20110301T000000_20101207T120000__BC__D_NT_AUX_01.nc</Aux_File_Name>
	    <Aux_File_Name id="VSCP">/data/s3-syn/SYN/aux/S3__SY_2_VSCPAX_20101201T000000_20110301T000000_20101207T120000__BC__D_NT_AUX_01.nc</Aux_File_Name>
	    <Aux_File_Name id="VSRT">/data/s3-syn/SYN/aux/S3__SY_2_VSRTAX_20101201T000000_20110301T000000_20101207T120000__BC__D_NT_AUX_01.nc</Aux_File_Name>
    </Aux_Files>
    <!-- todo - remove this property, replace with hard-coded relative path (it's a resource not aux data) -->
    <Variable_Definition_Files_Path>/home/ralf/Public/developer/s3-syn/src/main/resources/dictionary</Variable_Definition_Files_Path>
</Config>
