<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s3-reader</symbolicName>
    <version>1.0</version>
    <name>Sentinel-3 Reader</name>

    <description>Enables BEAM to read data products from Sentinel 3.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    

    <categories>Reader,Sentinel,OLCI</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importS3OlciProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>OLCI L1b</formatName>
            <text>Import OLCI L1b Product...</text>
            <mnemonic>O</mnemonic>
            <shortDescr>Import a OLCI L1b data product or product subset.</shortDescr>
            <description>Import a Sentinel 3 OLCI L1b data product or product subset.</description>
            <helpId>importS3OlciProduct</helpId>
        </action>
    </extension>

</module>