<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s3-reader</symbolicName>
    <version>1.0</version>
    <name>Sentinel-3 Reader</name>

    <description>Enables BEAM to read data products from Sentinel 3.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    

    <categories>Reader,Sentinel,OLCI</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importS3OlciL1bProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>OLCI-L1b</formatName>
            <text>Import OLCI L1b Product...</text>
            <mnemonic>O</mnemonic>
            <shortDescr>Import a OLCI L1b data product or product subset.</shortDescr>
            <description>Import a Sentinel 3 OLCI L1b data product or product subset.</description>
            <helpId>importS3OlciL1bProduct</helpId>
        </action>
        <action>
            <id>importS3OlciL2Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>OLCI-L2</formatName>
            <text>Import OLCI L2 Product...</text>
            <mnemonic>O</mnemonic>
            <shortDescr>Import a OLCI L2 data product or product subset.</shortDescr>
            <description>Import a Sentinel 3 OLCI L2 data product or product subset.</description>
            <helpId>importS3OlciL2Product</helpId>
        </action>
        <action>
            <id>importS3SlstrL2LSTProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SLSTR-L2-LST</formatName>
            <text>Import SLSTR L2 LST Product...</text>
            <mnemonic>S</mnemonic>
            <shortDescr>Import a SLSTR L2 LST data product or product subset.</shortDescr>
            <description>Import a Sentinel 3 SLSTR L2 LST data product or product subset.</description>
            <helpId>importS3SlstrL2LSTProduct</helpId>
        </action>
        <action>
            <id>importS3SlstrL2SSTProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SLSTR-L2-SST</formatName>
            <text>Import SLSTR L2 SST Product...</text>
            <mnemonic>S</mnemonic>
            <shortDescr>Import a SLSTR L2 SST data product or product subset.</shortDescr>
            <description>Import a Sentinel 3 SLSTR L2 SST data product or product subset.</description>
            <helpId>importS3SlstrL2SSTProduct</helpId>
        </action>
        <action>
            <id>importS3SynProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>OLCI-SLSTR-L2-SYN</formatName>
            <text>Import OLCI/SLSTR L2 SYN Product...</text>
            <mnemonic>Y</mnemonic>
            <shortDescr>Import an OLCI/SLSTR L2 SYN data product or product subset.</shortDescr>
            <description>Import an OLCI/SLSTR L2 SYN data product or product subset.</description>
            <helpId>importS3SynProduct</helpId>
        </action>
    </extension>

</module>